*.zip
.idea
.idea/*
.vscode/*
.vscode

infra/first_config/dynamodb.tf
infra/first_config/iam/*
infra/first_config/iam.tf
infra/first_config/lambda.tf
infra/first_config/variables.tf
infra/first_config/apigateway.tf
infra/first_config/*terraform*
infra/first_config/bucket_delete.json
infra/first_config/tmp.json
infra/output_upload_lambda.txt